<footer class="bg-light">
    <div class="container-fluid border-top border-dark pt-5 pb-5 bg-primary text-white">
        <div class="row d-flex mt-4 mx-auto" style="max-width: 1200px;">
            <div class="col-12 col-md-12 d-flex flex-column aligin-items-start col-md-5 order-1 order-md-0">
                {{ partial "ulisses-logo.html" . }}
                <p class="mt-4 " style="font-size: 0.9em;">
                    ULISSES is a non-profit foundation to create a universal natural law identity (Universal ID U-ID)
                    accessible to all people. In doing so, the well-being of the individuals is just as central as the
                    common good. The Foundation is to have suitable tools developed for this purpose and make them
                    permanently available, as well as take measures for their worldwide dissemination and legal
                    recognition by states and the United Nations.

                    ULISSES is not building another Identity Solution or SSI - we are building the layer zero for other
                    digital identity projects.
                </p>
                <p>ONE HUMANITY - ONE IDENTITY</p>
            </div>
            <div class="col-12 col-md-12 d-flex flex-column aligin-items-start col-md-5 order-1 order-md-0">
                <div class="row">
                    <div class="col-md-4 ms-auto">
                        <div>
                            <a class="text-white" href="/story">Our Story</a>
                        </div>
                        <div>
                            <a class="text-white" href="/privacy">Privacy Policy</a>
                        </div>
                        <div>
                            <a class="text-white" href="/imprint">Imprint</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-none d-md-flex col-md-1 oder-1"></div>
            <div class="col-12 mt-5 text-center order-1">
                <p class="pt-3 " style="font-size: 0.8em;">
                    &copy; {{ now.Format "2006" }} ULISSES Verein, Liechtenstein</p>
            </div>
        </div>
    </div>
</footer>
